<nav class="navbar is-warning" role="navigation" aria-label="main navigation">
      <div class="navbar-brand text-decoration-none">
        <%= link_to root_path, class:"navbar-item link_class" do %>
        <i class="fa fa-music" aria-hidden="true"></i>
          <h1 class="ml-2 title is-5">Flanger</h1>
        <% end  %>
      <div class="navbar-burger burger" data-target="navbar">
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
    </button>
      </div>
    </div>

    <div class="collapse navbar-menu justify-content-center align-itens-center" id="navbarToggleExternalContent">
      <div class="navbar-item">
        <%= link_to "Home", root_path, class: "link_class" %>
      </div>
      <div class="navbar-item">
        <%= link_to "About", about_path, class: "link_class" %>
      </div>
      <div class="navbar-item">
        <%= link_to "Blog", blog_path, class: "link_class" %>
      </div>
      <div class="navbar-item">
        <%= link_to "Contact", contact_path, class: "link_class" %>
      </div>
      <div class="navbar-item">
        <%= link_to "FaQ", faq_path, class: "link_class" %>
      </div>
    </div>
    <div class="navbar-end">
        <div class="navbar-item">
        <div class="field is-grouped">

        <% if total_cart_items %>
            <%= link_to cart_path(@cart), class:"navbar-item button is-warning" do %>
            <span class="icon is-small">
            <i class="fa fa-shopping-cart"></i>
            </span>
            <span>Cart
            <%= cart_count_over_one %>
            </span>
            <% end %>
        <% end %>

        <% if user_signed_in? %>
            <%= link_to 'Sell', new_instrument_path, class: "navbar-item button is-dark" %>

            <div class="navbar-item has-dropdown is-hoverable">
            <%= link_to 'Account', edit_user_registration_path, class: "navbar-link" %>
            <div class="navbar-dropdown is-right">
                <%= link_to current_user.name, edit_user_registration_path, class:"navbar-item" %>
                <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:"navbar-item" %>
            </div>
            </div>
        <% else %>

        <%= link_to "Sign In", new_user_session_path, class:"navbar-item button is-warning" %>
        <%= link_to "Sign up", new_user_registration_path, class:"navbar-item button is-warning"%>

        <% end %>

        </div>
        </div>
    </div>
  </nav>